<div class="header-container">
    <div class="header">
        <a ui-sref="Home"><img src="~/Images/logonadiarapti.png" /></a>
        <ul>
            <li><a class="menu-item" ui-sref-active="selected" ui-sref="Home">Home</a></li>
            <li><a class="menu-item" ui-sref-active="selected" ui-sref="Collections">Collections</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

