html {
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display SC', serif;
}

body {
    width: 100%;
    height: 100%;
}

.clear {
    clear: both;
}

.header-container {
    background-color: white;
    border-bottom:8px solid black;
    padding:5px 0px;
}

.header {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.header img{
    width:270px;
    float:left;
}
.header ul{
    float:left;
    margin-top:50px;
    margin-left:100px;
}
.header ul li{
    display:inline;
}
.menu-item{
    text-decoration:none;
    color:#999999;
    font-size:15px;
    margin-right:10px;
}
@media (max-width: 980px) {
    .header-container {
    background-color: white;
    border-bottom:8px solid black;
    padding:5px 0px;
    }

    .header {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .header img{
        width:25%;
        float:left;
        margin-top:3%;
    }
    .header ul{
        float:left;
        margin-top:5%;
        margin-left:50px;
    }
    .header ul li{
        display:inline;
    }
    .menu-item{
        text-decoration:none;
        color:#999999;
        font-size:12px;
        margin-right:10px;
    }
}
.selected{
    color:#333333;
    font-weight:bold;
}
.home-images-container{
    width:100%;
    height:100%;
    position:relative;
    text-align:center;
    background-color:whitesmoke;
}
.home-img {
    text-align:center;
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-repeat:no-repeat;
}
.home-img img{
    height:100%;
}
/*.home-img:nth-child(1){
    background:url(../../Images/bg1.jpg);
    background-origin:content-box;
    background-size:cover;
}
.home-img:nth-child(2){
    background:url(../../Images/bg2.jpg);
    background-origin:content-box;
    background-size:cover;
}
.home-img:nth-child(3){
    background:url(../../Images/bg3.jpg);
    background-origin:content-box;
    background-size:cover;
}
.home-img:nth-child(4){
    background:url(../../Images/bg4.jpg);
    background-origin:content-box;
    background-size:cover;
}*/
/*.home-images-container img{
    height:100%;

}*/
/*.collection-image-container{
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    width: 100%; 
}
@media (max-width: 980px) {
	.collection-image-container{
        -moz-column-count: 2;
        -moz-column-gap: 0px;
        -webkit-column-count: 2;
        -webkit-column-gap: 0px;
        column-count: 2;
        column-gap: 0px;
        width: 100%; 
    }
}
@media (max-width: 500px) {
	.collection-image-container{
        -moz-column-count: 1;
        -moz-column-gap: 0px;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        column-count: 1;
        column-gap: 0px;
        width: 100%; 
    }
}*/
.collection-image-container{
    text-align:center;
}
.collection-img{
    width: 33%;
}
@media (max-width: 780px) {
    .collection-img{
        width: 50%;
    }
}

@media (max-width: 500px) {
    .collection-img{
        width: 100%;
    }
}
